#scrollBall {
	position: absolute;
	right: 0;
	top: 0;
	width: 10px;
	height: 10px;
	border-radius: 20px;
	background-color: white;
}

#scrollLine {
	border-radius: 20px;
	position: fixed;
	right: 0;
	top: 0;
	width: 10px;
	background-color: gray;
	opacity: 0;
}

